<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeCare</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'listings/base.css' %}"/>
</head>
<body>
  <div class="nav">
    <div class="logo_container">
      <h1>WeCare</h1>
    </div>
    <div class="navlinks">
      {% if user.is_authenticated and user.is_provider == True %}
        <ul class="float_right">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'mylisting' %}">My Listing</a></li>
          <li><div><a href="{% url 'p_profile' user.provider.pk %}">Settings</a></div></li>
          <li><div><a href="{% url 'logout' %}">Logout</a></div></li>
        </ul>
      {% elif user.is_authenticated and user.is_seeker == True %}
        <ul class="float_right">
          <li><a href="{% url 'dashboard' %}">Home</a></li>
          <li><a href="{% url 's_profile' user.seeker.pk %}">Settings</a></li>
          <li><div><a href="{% url 'logout' %}">Logout</a></div></li>
        </ul>
      {% else %}
        <ul class="float_right">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><div class="login"><a>Login</a></div></li>
          <li><div class="register"><a>Register</a></div></li>
        </ul>
      {% endif %}
    </div>
  </div>
  <div class="loginpopup">
    Choose User Type
    <a href="{% url 's_login' %}">User</a>
    <a href="{% url 'p_login' %}">Healthcare Provider</a>
  </div>
  <div class="registerpopup">
    Choose User Type
    <a href="{% url 's_register' %}">User</a>
    <a href="{% url 'p_register' %}">Healthcare Provider</a>
  </div>
  {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
    {% endfor %}
  {% endif %}
  {% block content %}{% endblock %}
  <!-- <footer>
    <div class="logo_footer">
      <h1>WeCare</h1>
    </div>
    <div class="footer_links">
      <a href="">About Us</a>
      <a href="">Contact Us</a>
    </div>
  </footer> -->
</body>

<script>
  var login = document.getElementsByClassName("loginpopup")[0]
  var registerpop = document.getElementsByClassName("registerpopup")[0]
  

  document.getElementsByClassName("login")[0].addEventListener("click", function() {
  registerpop.style.display = 'none';
  if (login.style.display == 'flex'){
    login.style.display = 'none';
  }
  else{
    login.style.display = 'flex';
  }
}); 

  document.getElementsByClassName("register")[0].addEventListener("click", function() {
    login.style.display = 'none';
    if (registerpop.style.display == 'flex'){
      registerpop.style.display = 'none';
    }
    else{
      registerpop.style.display = 'flex';
    }
  }); 
</script>

</html>
