{% extends "listings/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'listings/dashboard.css' %}">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<div class="parent_container">
    <div class="table_container">
        <div class="healthdata">
            <h2>Welcome {{ seeker }}</h2>
            {% if user_healthdata == None %}
                <h2>Start tracking your fitness and healthdata</h2>
                <a href="{% url 'track' %}">Track</a>
            {% else %}
                <h2>Your healthdata was last recorded on {{ user_healthdata.date_recorded|date:"F d, Y" }}</h2>
                <div class="chart">
                    <canvas id="workout-chart" data-url="{% url 'workout_chart' %}"></canvas>
                </div>
                <a href="{% url 'track' %}">Track</a>
            {% endif %}
        </div>
        <h2>Filter HealthCare Providers</h2>
        <form method="get">
            {{ filter.form.as_p }}
            <button type="submit">Search</button>
        </form>
        <table class="listings_table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Speciality</th>
                    <th>Ethnicity</th>
                    <th>Consultation Charges</th>
                </tr>
            </thead>
            
            {% for listing in filter.qs %}
                <tr>
                    <td><a href="{% url 'listing' listing.listing_id %}">{{ listing.provider }}</a></td>
                    <td>{{ listing.speciality }}</td>
                    <td>{{ listing.ethnicity }}</td>
                    <td>{{ listing.consultation_charges }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<!-- //     var config = {
//   type: 'line',
//   data: {
//     datasets: [{
//         barPercentage: 0.5,
//         barThickness: 6,
//         maxBarThickness: 8,
//         minBarLength: 2,
//       data: "{{ data|safe }}",
//       backgroundColor: [
//         '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
//       ],
//       label: 'Steps'
//     }],
//     labels: "{{ labels|safe }}"
//   },
//   options: {
//     responsive: true
//   }
// };

// window.onload = function() {
//   var ctx = document.getElementById('pie-chart').getContext('2d');
//   window.myPie = new Chart(ctx, config);
// }; -->
<script>

$(function () {

var $populationChart = $("#workout-chart");
$.ajax({
  url: $populationChart.data("url"),
  success: function (data) {

    var ctx = $populationChart[0].getContext("2d");

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: "{{ data.labels }}",
        datasets: [{
          label: 'Population',
          backgroundColor: 'blue',
          data: "{{ data.data }}"
        }]          
      },
      options: {
        responsive: true,
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Population Bar Chart'
        }
      }
    });

  }
});

});
    </script>
{% endblock content %}