{% extends "listings/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'listings/listing.css' %}">
<div class="main_cont">
    <div class="listing_container">
        <h1>{{ provider.designation }}&nbsp;&nbsp;{{ listing.provider }}</h1>
        <h2>Speciality:&nbsp;&nbsp;{{ listing.speciality }}</h2>
        <p>{{ listing.description }}</p>
        <h2 class="charges">Consultation Charges: {{ listing.consultation_charges }}</h2>
    </div>
</div>


{% endblock content %}