{% extends "listings/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'listings/listing.css' %}">
{% if listing == None %}
<div class="main_listing">
    <h3>Add your Listing</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="change" type="submit" value="Add Listing">
    </form>
</div>
{% else %}
    <div class="main_listing">
        <div class="listing">
            <h3>Current Description:</h3>
            <p>{{ listing.description }}</p>
            <br>
            <h3>Current Fee: {{ listing.consultation_charges }}</h3>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="change" type="submit" value="Change Listing">
            </form>
        </div>
    </div>
{% endif  %}
{% endblock content %}