{% extends "listings/base.html" %}
{% load static %}
{% load my_templatetags %}
{% block content %} 
<link rel="stylesheet" href="{% static 'listings/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'listings/provider_dashboard.css' %}">
<div class="parent_container">
    <div class="table_container">
        <div class="form_cont"> 
            <div class="add_seeker">
                <h3>Add a Patient to your list</h3>
                <form method="POST" action="{% url 'add_seeker' %}">
                    {% csrf_token %}
                    {{ form }}
                    <input class="submit" type="submit" value="Add Seeker">
                </form>
            </div>
            <div class="search_seeker">
                <h3>Search a seeker</h3>
                <form method="get">
                    {% csrf_token %}
                    {{ healthdata_filter.form.as_p }}
                    <button class="submit" type="submit">Search</button>
                </form>
            </div>
        </div>
        <table class="listings_table">
            <thead>
                <tr>
                    <th>Seeker</th>
                    <th>Weight</th>
                    <th>Steps</th>
                    <th>Heart Rate</th>
                    <th>Blood Pressure</th>
                    <th>Date Recorded</th>
                    <th>Remove Seeker</th>
                </tr>
            </thead>
            {% for healthdata in healthdata_filter.qs %}
                <tr>
                    <td><a>{{ healthdata.seeker }}</a></td>
                    <td>{{ healthdata.weight }}</td>
                    <td>{{ healthdata.steps }}</td>
                    <td>{{ healthdata.heartrate }}</td>
                    <td>{{ healthdata.blood_pressure }}</td>
                    <td>{{ healthdata.date_recorded|date:"M d, y" }}</td>
                    <td><a href="{% url 'remove_seeker' healthdata.seeker.pk %}">Remove</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="paginator">
        <span>
            {% if response.has_previous %}
                <a class="paglink" href="?{% query_transform request page=1 %}">&#8249; first</a>
                <a class="previous round" href="?{% query_transform request page=response.previous_page_number %}">&#8249;</a>
            {% endif %}

            <span class="current">
                Page {{ response.number }} of {{ response.paginator.num_pages }}
            </span>

            {% if response.has_next %}
                <a class="previous round" href="?{% query_transform request page=response.next_page_number %}">&#8250;</a>
                <a class="paglink" href="?{% query_transform request page=response.paginator.num_pages %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>



{% endblock content %}  