{% extends "listings/base.html" %}
{% load static %}
{% block content %} 
<link rel="stylesheet" href="{% static 'listings/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'listings/provider_dashboard.css' %}">
<!-- <h1>Patient Health Data</h1> -->
<div class="parent_container">
    <div class="table_container">
        <div class="form_cont">
            <div class="search_seeker">
                <h3>Search a seeker</h3>
                <form method="get">
                    {% csrf_token %}
                    {{ healthdata_filter.form.as_p }}
                    <button class="submit" type="submit">Search</button>
                </form>
            </div>
            <div class="add_seeker">
                <h3>Add a Patient to your list</h3>
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <button class="submit" type="submit">Add Seeker</button>
                </form>
            </div>
        </div>
        <table class="listings_table">
            <thead>
                <tr>
                    <th>Seeker</th>
                    <th>Weight</th>
                    <th>Steps</th>
                    <th>Heart Rate</th>
                    <th>Date Recorded</th>
                </tr>
            </thead>
            
            {% for healthdata in healthdata_filter.qs %}
                <tr>
                    <td><a>{{ healthdata.seeker }}</a></td>
                    <td>{{ healthdata.weight }}</td>
                    <td>{{ healthdata.steps }}</td>
                    <td>{{ healthdata.heartrate }}</td>
                    <td>{{ healthdata.date_recorded }}</td>
                    <!-- <td><a>Know More </a></td> -->
                </tr>
                
            {% endfor %}
        </table>
    </div>
</div>



{% endblock content %}  