* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #51b050;
  --secondary: #767676;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Phone Screen */
@media screen and (max-width: 599px) {
  .nav,
  .navlinks ul,
  .svg1,
  .svg2,
  .functions,
  .functiontext_parent,
  .functiontext {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
  }

  .logo_container h1 {
    color: white;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
  }

  .nav {
    flex-direction: column;
    background-color: var(--primary);
    min-height: 100px;
  }

  .navlinks {
    width: 100%;
  }

  .navlinks ul {
    justify-content: space-around;
  }

  .navlinks ul li {
    list-style-type: none;
    overflow: hidden;
  }

  .navlinks ul li a {
    color: white;
    text-decoration: none;
  }

  .loginpopup,
  .registerpopup {
    z-index: 1;
    padding: 20px;
    display: none;
    flex-direction: column;
    position: absolute;
    float: right;
    right: 100px;
    top: 100px;
    border: 1px solid var(--secondary);
    font-family: "Noto Sans", sans-serif;
    background-color: rgb(255, 241, 241);
    box-shadow: 5px 5px 12px -7px rgba(0, 0, 0, 0.75);
  }

  .loginpopup a,
  .registerpopup a {
    padding-right: 10px;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    color: var(--primary);
    font-weight: bold;
  }

  .svg1,
  .svg2 {
    min-height: 200px;
    flex-direction: column;
  }

  .svg1 img,
  .svg2 img {
    max-height: 180px;
    max-width: 80%;
    margin: 15px;
  }

  .functions {
    padding: 15px;
    flex-direction: column;
    background-color: var(--secondary);
  }

  .functions {
    color: white;
    font-size: 15px;
  }

  .functiontext_parent {
    padding: 15px;
    flex-direction: column;
    justify-content: space-between;
  }

  .functiontext {
    padding: 10px;
    width: 250px;
    min-height: 50px;
    background-color: var(--primary);
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 5vw;
  }
  footer {
    display: flex;
    position: absolute;
    width: 100%;
    background-color: black;
    bottom: 0;
    min-height: 100px;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
  }
}
/* Laptop Screen */
@media screen and (min-width: 600px) {
  .nav,
  .svgs,
  .svg1,
  .svg2,
  .functions,
  .functiontext_parent,
  .functiontext,
  .footer_links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
  }

  .logo_container {
    min-width: 500px;
    color: white;
    margin: 0;
    padding: 0;
  }

  .logo_container h1 {
    margin-left: 50px;
    font-family: "Noto Sans", sans-serif;
  }

  .nav {
    justify-content: space-around;
    background-color: var(--primary);
    min-height: 100px;
  }

  .navlinks {
    float: right;
    width: 50%;
  }

  .float_right {
    float: right;
  }
  .navlinks ul {
    justify-content: space-around;
  }

  .navlinks ul li {
    display: inline;
    float: left;
    list-style-type: none;
    overflow: hidden;
  }

  .navlinks ul li a {
    margin: 20px;
    display: block;
    float: right;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  .loginpopup,
  .registerpopup {
    z-index: 1;
    padding: 20px;
    display: none;
    flex-direction: column;
    position: absolute;
    float: right;
    right: 100px;
    top: 100px;
    border: 1px solid var(--secondary);
    font-family: "Noto Sans", sans-serif;
    background-color: rgb(255, 241, 241);
    box-shadow: 5px 5px 12px -7px rgba(0, 0, 0, 0.75);
  }

  .registerpopup {
    right: 10px;
  }

  .loginpopup a,
  .registerpopup a {
    padding-right: 10px;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    color: var(--primary);
    font-weight: bold;
  }

  .svgs {
    justify-content: space-around;
  }

  .svg1,
  .svg2 {
    min-height: 200px;
    flex-direction: column;
  }

  .svg1 img,
  .svg2 img {
    min-height: 200px;
    min-width: 80%;
    margin: 30px;
  }

  .functions {
    padding: 15px;
    flex-direction: column;
    background-color: var(--secondary);
  }

  .functions {
    color: white;
    font-size: 15px;
  }

  .functiontext_parent {
    width: 100%;
    padding: 15px;
    justify-content: space-around;
  }

  .functiontext {
    padding: 10px;
    width: 250px;
    max-height: 50px;
    background-color: var(--primary);
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 2vh;
  }

  footer {
    display: flex;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    min-height: 140px;
    justify-content: space-around;
    align-items: center;
    /* margin-top: auto; */
  }

  footer h1 {
    color: white;
  }

  .footer_links a {
    color: white;
    text-decoration: none;
    min-width: 200px;
  }
}

footer {
  display: flex;
  width: 100%;
  bottom: 0;
  background-color: black;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
}

footer h1 {
  color: white;
}

.footer_links a {
  color: white;
  text-decoration: none;
  min-width: 200px;
}
