* {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

/* font */
.parent_container {
  font-family: "Noto Sans", sans-serif;
  margin-left: 3vw;
  margin-right: 3vw;
}

/* flex center center */
.parent_container,
.health_data {
  display: flex;
  justify-content: center;
}

.parent_container {
  max-width: 100%;
}

.filt_form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.filt_form label,
.filt_form input,
.filt_form button {
  margin-top: 1vh;
}

.healthcare_providers,
.paginator,
.listings_table {
  margin-top: 5vh;
}

/* Phone Screen */
@media screen and (max-width: 599px) {
  .listings_table {
    table-layout: fixed;
    border-collapse: collapse;
    min-width: 100%;
  }

  .listings_table thead {
    background-color: var(--primary);
    color: white;
    text-align: left;
    font-size: 12px;
  }
  .listings_table th {
    padding-left: 15px;
  }
  .listings_table td {
    font-size: 15px;
  }
}

/* Laptop Screen */
@media screen and (min-width: 600px) {
  .parent_container {
    flex-direction: column;
    min-height: 300px;
  }

  .listings_table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
  }

  .listings_table thead {
    background-color: var(--primary);
    color: white;
    text-align: left;
    font-size: 15px;
    /* font-size: 5vw; */
  }

  .listings_table th,
  .listings_table td {
    padding: 20px;
  }

  #id_provider,
  #id_speciality {
    float: right;
    font-size: 10px;
    padding: 5px;
    border: none;
    background-color: rgb(182, 182, 182);
  }
}

#line_chart {
  width: 100%;
  height: 100%;
}

.chart {
  width: 100%;
  min-width: 500px;
  min-height: 300px;
}
