* {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

/* font */
.parent_container {
  font-family: "Noto Sans", sans-serif;
  margin-left: 3vw;
  margin-right: 3vw;
  /* flex-wrap: wrap; */
  flex-direction: column;
  position: relative;
}

/* flex center center */
.parent_container,
.health_data {
  display: flex;
  justify-content: center;
}

.health_data h2 {
  font-size: 10px;
  max-width: min-content;
}

.parent_container {
  max-width: 100%;
}

.filt_form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.filt_form label,
.filt_form input,
.filt_form button {
  margin-top: 1vh;
}

.healthcare_providers,
.paginator,
.listings_table {
  margin-top: 5vh;
}

canvas {
  height: 500px;
  width: 300px;
}

/* Phone Screen */
@media screen and (max-width: 599px) {
  .parent_container {
    flex-direction: column;
    font-size: 2vh;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
  }
  .listings_table {
    table-layout: fixed;
    border-collapse: collapse;
    min-width: 100%;
  }

  .listings_table thead {
    background-color: var(--primary);
    color: white;
    text-align: left;
    font-size: 12px;
  }
  .listings_table th {
    padding-left: 15px;
  }
  .listings_table td {
    font-size: 15px;
  }
  .listings_table {
    padding: 0;
  }
  .listings_table td {
    font-size: 2vh;
  }
  .listings_table th {
    font-size: 2vh;
    padding: 0;
  }
}

/* Laptop Screen */
@media screen and (min-width: 600px) {
  .parent_container {
    flex-direction: column;
  }

  .listings_table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
  }

  .listings_table thead {
    background-color: var(--primary);
    color: white;
    text-align: left;
    font-size: 15px;
    /* font-size: 5vw; */
  }

  .listings_table th,
  .listings_table td {
    padding: 20px;
  }

  #id_provider,
  #id_speciality {
    float: right;
    font-size: 10px;
    padding: 5px;
    border: none;
    background-color: rgb(182, 182, 182);
  }
}

/* Common Styles */

#line_chart {
  width: 100%;
  height: 100%;
}

/* Pagination Css */
.paginator a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.paginator a:hover {
  background-color: rgb(43, 43, 43);
  color: white;
  transition: 0.5s;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04aa6d;
  color: white;
}

.round {
  border-radius: 50%;
}

.demographics {
  max-width: 100%;
  border: 3px solid black;
  padding: 10px;
  margin-top: 2vh;
}

.demographics p {
  max-width: 100%;
  word-wrap: break-word;
}

.welcome {
  margin-top: 2vh;
}

.track_url {
  font-family: "Noto Sans", sans-serif;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 2.5vh;
  text-decoration: none;
  color: black;
  border: 3px solid black;
  margin-left: 3vh;
}

.track_url:hover {
  color: white;
  background-color: rgb(43, 43, 43);
  transition: 0.5s;
}

hr {
  margin-top: 5vh;
}

.provider_name {
  text-decoration: none;
  color: rgb(48, 48, 48);
}

.filter_submit {
  font-family: "Noto Sans", sans-serif;
  font-size: 2vh;
  border-radius: 0;
  border: 2px solid black;
  padding-left: 3vh;
  padding-right: 3vh;
}

.filter_submit:hover {
  color: white;
  background-color: rgb(43, 43, 43);
  transition: 0.5s;
}

.paglink {
  text-decoration: none;
  color: black;
}
