.main_cont {
  font-family: "Noto Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

.listing_container {
  padding: 1vh;
  margin-left: 3vh;
  margin-right: 3vh;
  margin-top: 3vh;

  /* display: flex; */
  border: 2px solid black;
}

/* Phone */
@media screen and (max-width: 599px) {
  .listing_container {
    min-width: 80%;
    min-height: 200px;
    font-size: 2vh;
  }

  .listing_container p {
    max-width: 250px;
    word-wrap: break-word;
    font-size: 2.5vh;
    padding: 3px;
  }

  .listing_container h2 {
    padding: 3px;
  }
}

/* Laptop Screen */
@media screen and (min-width: 600px) {
  .listing_container {
    min-width: 60%;
    min-height: 400px;
    font-size: 1.5vh;
  }

  .listing_container p {
    padding-right: 15px;
    font-size: 2vh;
  }
}

.main_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listing {
  font-family: "Noto Sans", sans-serif;
  margin-left: 5vh;
  margin-right: 5vh;
  margin-top: 3vh;
  padding: 3vh;
  border: 2px solid black;
}

form p {
  display: flex;
  align-items: center;
}

label {
  /* margin: 3vh; */
}

#id_description,
#id_consultation_charges {
  font-size: 10px;
  padding: 5px;
  border: none;
  background-color: rgb(182, 182, 182);
  margin: 3vh;
}

#id_description {
  max-height: 3vh;
  min-width: 70%;
}

footer {
  position: absolute;
  bottom: 0;
}

.change {
  font-family: "Noto Sans", sans-serif;
  font-size: 2vh;
  border-radius: 0;
  border: 2px solid black;
  padding-left: 3vh;
  padding-right: 3vh;
}

.change:hover {
  color: white;
  background-color: rgb(43, 43, 43);
  transition: 0.5s;
}
