/* Flex center center */
.data_container,
.health_data {
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: "Noto Sans", sans-serif;
  min-height: 200px;
}

.table_container {
  margin-top: 3vh;
}

.form_cont {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

.add_seeker,
.search_seeker {
  border: 2px solid black;
  padding: 3vh;
  min-height: 100%;
}

#id_seeker {
  font-size: 10px;
  padding: 5px;
  border: none;
  background-color: rgb(182, 182, 182);
  margin: 3vh;
}

.add_seeker h3,
.search_seeker h3 {
  font-size: 2vh;
}

.submit {
  font-family: "Noto Sans", sans-serif;
  font-size: 2vh;
  border-radius: 0;
  border: 2px solid black;
  padding-left: 3vh;
  padding-right: 3vh;
}

.submit:hover {
  color: white;
  background-color: rgb(43, 43, 43);
  transition: 0.5s;
}

.data_container {
  margin-top: 50px;
}

.health_data {
  border: 3px solid var(--primary);
  width: 70%;
}

table {
  width: 100%;
}

/* Phone Screen */
@media screen and (max-width: 599px) {
  .parent_container {
    font-size: 3vh;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
  }

  .listings_table {
    padding: 0;
  }
  .listings_table td {
    font-size: 2.5vh;
  }
  .listings_table th {
    font-size: 2vh;
    padding: 0;
  }
  .form_cont {
    flex-direction: column;
  }
  .search_seeker {
    margin-top: 3vh;
  }
}
