{% extends "listings/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'listings/base.css' %}">
<link rel="stylesheet" href="{% static 'users/login.css' %}">
<div class="parent_container">
    <h1>Profile Update</h1>
    <div class="login_container">
        <div class="svgform">
            <div class="girl">
                <img class="girl_workout" src="{% static 'users/login.svg' %}" alt="Get Started">
            </div>
            <div class="form_container">
                <form method="POST" class="loginform">
                    {% csrf_token %}
                    {{ form }}
                    <input class="submit" type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}