{% extends "listings/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'users/test.css' %}">
<div class="contain">

    <div class="wrapper">
      <div class="contacts">
        <h3>Our contacts</h3>
  
        <ul>
          <li>San Joe St.</li>
          <li>00-1212121-11</li>
          <li>mail@mail.com</li>
        </ul>
      </div>
        <div class="form">
            <form method="POST" class="loginform">
                {% csrf_token %}
                {{ form }}
                <input class="submit" type="submit" value="SignUp">
            </form>
        </div>
    </div>
</div>
{% endblock %}