.helptext {
  display: none;
}

.login_container {
  min-height: 35vw;
  margin-bottom: 10px;
}

@media screen and (max-width: 599px) {
  .parent_container h1 {
    font-size: 1em;
  }
}

#id_username,
#id_email,
#id_first_name,
#id_last_name,
#id_phone_number,
#id_location,
#id_designation,
#id_password1,
#id_password2,
#id_ethnicity {
  float: right;
  font-size: 15px;
  padding: 5px;
  border: none;
  background-color: rgb(182, 182, 182);
}

footer {
  position: relative;
  bottom: 0;
}
